.rootHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
    margin: 0 0 15px 0;
    .logo {
        p {
            font-weight: bold;
            font-size: 26px;
            line-height: 30px;
        }
    }
    .menu {
        display: none;
    }
}


@media (min-width: 1024px) {
    .rootHeader {
        padding: 30px 0;
        margin: 0 0 20px 0;
        .logo {
            p {
                font-size: 55px;
                line-height: 60px;
            
            }
        }
        .menu {
            display: block;
            .nav {
                list-style: none;
                padding: 0;
                margin:0;
                display: flex;
                gap: 0 15px;
                a {
                    text-decoration: none;
                    font-size: 24px;
                    color: #000;
                    font-weight: 600;
                }
            }
        }
        .iconMenu {
            display: none;
        }
    }
}
