.rootAuthor {
    display: grid;
    justify-content: center;
    grid-gap: 10px 0;
    gap: 10px 0;
    padding: 20px 0;

    img {
        width: 120px;
        border-radius: 100%;
        margin: 0 auto;
    }
    p {
        text-align: center;
    }
    .name {
        font-size: 20px;
        font-weight: 600;
    }
}
