.nextRoot {
    background: #000;
    .mainRoot {
        padding: 0 15px;
        max-width: 1550px;
        margin: 0 auto;
        background-color: #fff;
    }
}
@media (min-width: 1024px) {
    .nextRoot {
        .mainRoot {
            padding: 0 20px;
        }
    }
}
