.rootPostCard {
    img {
        width: 100%;
    }
    h3 {
        padding: 10px 0 11px 0;
        margin: 0;
        text-align: center;
        font-size: 31px;
    }
    .info {
        display: flex;
        gap: 0 20px;
        align-items: center;
        justify-content: center;
        padding: 0 0 15px 0;
        .user {
            display: flex;
            gap: 0 10px;
            align-items: center;
            img {
                width: 38px;
                border-radius: 100%;
            }
        }
        .moth {
            display: flex;
            align-items: center;
            gap: 0 10px;
            svg {
                width: 15px;
            }
        }
    }
    .epx {
        text-align: center;
    }
    button {
        background-color: black;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 20px;
        margin: 20px auto;
        display: flex;
        justify-items: center;
    }
}
@media (min-width: 1024px) {
    .rootPostCard {
        .epx {
            max-width: 680px;
            margin: 0 auto;
        }
    }
}
