.rootCategories {
    padding: 15px 0 0 0;
    .title {
        font-size: 28px;
        font-weight: 600;
        padding: 0 0 5px 0;
    }
    .nameCategory {
        p {
            font-size: 18px;
            padding: 10px 0;
        }
    }
}
