.rootDetailPost {
    .contentPost {
        img {
            width: 100%;
            height: auto;
        }
        .info {
            display: flex;
            align-items: center;
            gap: 0 15px;
            margin: 15px 0 0 0;
            .user {
                display: flex;
                align-items: center;
                gap: 0 8px;
                img {
                    width: 40px;
                    border-radius: 100%;
                }
            }
        }
        h3 {
            font-size: 30px;
            font-weight: 700;
            margin: 0;
            padding: 20px 0;
        }
        .content {
            p {
                margin: 0 0 20px 0;
                font-size: 16px;
            }
        }
    }
}
