.rootPostWidget {
    // height: 100%;
    .mainPostWidget {
        // position: sticky;
        // top: 2rem;
        .title {
            font-size: 28px;
            font-weight: 600;
            padding: 0 0 15px 0;
        }
        .post {
            display: flex;
            align-items: center;
            gap: 0px 15px;
            margin: 0 0 15px 0;
            img {
                width: 60px;
                height: 60px;
                object-fit: cover;
                border-radius: 100px;
            }
            .content {
                .titlePost {
                    margin: 5px 0 0 0;
                }
            }
        }
    }
}
