@media (min-width: 1024px) {
    .rootBody {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-column-gap: 40px;
        .leftContent {
            grid-column: 1 / span 9;
        }
        .rightContent {
            grid-column: 10 / span 3;
            .rightRoot {
                position: sticky;
                top: 2rem;
            }
        }
    }
}
