.rootComment {
    h3 {
        font-size: 20px;
    }
    .boxComment {
        width: 100%;
        line-height: 0;
        textarea,
        input {
            width: 100%;
            padding: 10px;
            margin: 0 0 15px 0;
        }
        textarea,
        input:focus-visible {
            outline: none;
        }
    }
    .boxNameAndEmail {
        display: flex;
        gap: 0 15px;
        width: 100%;
        line-height: 0;
        textarea,
        input {
            width: 100%;
            padding: 10px;
            margin: 0 0 15px 0;
        }
        textarea,
        input:focus-visible {
            outline: none;
        }
    }
    .button {
        button {
            border: none;
            padding: 10px 15px;
            background-color: #000;
            color: #fff;
            cursor: pointer;
        }
    }
}
